<form name="RegistrationForm" action="ShowData">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" required />

        <label for="email">Email:</label>
        <input type="email" name="email"/>

        <label for="age">Age:</label>
        <input type="number" name="age" min="0" max="120" />

        <button type="submit">Register</button>
    </div>
</form>