@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h3>@ViewBag.username</h3>
    <h3>@ViewBag.email</h3>
    <h3>@ViewBag.age</h3>
</div>